body {
    background-color: #1F2937;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header Logo and Header Links */
.navbar {
    display: flex;
    align-items: center;
}

#header-logo {
    width: 50px;
    height: auto;
}

.nav-list-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-element {
    font-size: 18px;
    color: #EFE7EB;
}